title: Hey, come on in!
description: Thank you, come again.
{% extends "base.html" %}
{% block content %}
<div class="container">
	<div id="banner">
		<section class="title">
			<h1>You made it!</h1>
			<p class="typed-css"><span id="typed"></span></p>
			<a href="/portfolio.html" class="goods">Show me the good stuff</a>
		</section>
		<h2>Hello, <br> I'm Sohail!</h2>
		<h2 class="right">Welcome to my internet home!</h2>
		<section>
			<div class="face">
				<img src="https://scontent-1.11404.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/1513674_10153015510822975_4180095228925157433_n.jpg?oh=7d46a55545c90ed7a3152f738b9ceca4&oe=55C4A61A">
			</div>
		</section>
	</div>
	<div id="listening">
		<h3>I was just listening to <span id="song-name"></span> by <span id="artist"></span><span><a id="image-link"> <img id="song-image" src="" /></span></a></h3>
	</div>
</div>
{% endblock content %}
