{% extends "base.html" %}
{% block content %}
<div class="container">

	<h1>Portfolio</h1>
	<p class="title-subtext">Hey, so here's some of my most recent work! It starts off with my <a href="#client"><strong>client work</strong></a>, then delves into my <a href="#personal"><strong>personal projects</strong></a>, and finally wraps up with some of my <a href="#open"><strong>open source</strong></a> contributions.</p>

	<!-- <p class="title-subtext"><span class="black"><strong>I'm currently looking for part-time or full-time work</strong></span>, so feel free to <a href="mailto:sohailkhanifar@gmail.com">contact me</a> about anything. I'd love to chat.</p> -->
	<hr class="line">
	
	<!-- Client Work -->
	<section id="client">
		<h2>Client Work</h2>
		
		<!-- Vayable -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="blue">Vayable</h3>
				<p>Vayable is a crowdsourced local touring site designed for travelers to find their ideal experience away from home. Hired on contract as frontend/rails developer. Designed and created their mobile site as well as adding a couple booking features to their main site.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask">
					<a href="http://www.vayable.com" target="_blank"><img src="/static/images/portfolio/vayable.png"></a></div>
			</div>
		</div>

		<!-- ww -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="orange">Winston Wacter</h3>
				<p>Along with two designers, I created this new digital home for the Winston Wachter galleries. Based out of Seattle and NY, we were tasked with presenting both galleries in under two weeks.</p>
				<ul class="orange">
					<li>WordPress</li>
				</ul>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.winstonwachter.com" target="_blank"><img class="image-border" src="/static/images/portfolio/ww.png"></a></div>
			</div>
		</div>
		<!-- Byus -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="green">ByUs</h3>
				<p>Worked in a team of four to bring this new startup's beta to life. ByUs offers individuals a more personalized and trusted version of yelp.</p>
				<p>My primary role was as a frontend/rails developer.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.byus.com" target="_blank"><img class="image-border lazy" data-original="/static/images/portfolio/byus.png"></a></div>
			</div>
		</div>
		<!-- Littlecast -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="green">LittleCast</h3>
				<p>Managed and worked with an overseas team to build this video publishing site. The core tech was built on top of rails and highly integrated with facebook.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.littlecast.com" target="_blank"><img class="lazy" data-original="/static/images/portfolio/littlecast.png"></a></div>
			</div>
		</div>

		<p>Please <a href="mailto:sohailkhanifar@gmail.com">get in touch</a>, if you'd like to get a full history of my client work.</p>
		<hr class="line">
	</section>

	<!-- Personal work -->
	<section id="personal">
		<h2>Personal Projects</h2>

		<!-- ShopOrNot -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="green">ShopOrNot</h3>
				<p>My current project and first publicly released iOS app. I spent a while developing this shopping application from the ground up. After continued usage, ShopOrNot develops a style profile for the user and provides them with recommendations.</p>
				<ul class="green">
					<li>Rails/Postgres backend </li>
					<li>Customized PredictionIO backend</li>
					<li>iOS 8</li>
				</ul>
			</div>
			<div class="col-md-7">
				<div class="image-mask">
					<a href="https://http://www.shopornot.co" target="_blank"><img class="lazy" data-original="/static/images/portfolio/shopornot.png"></a>
				</div>
			</div>
		</div>

		<!-- TapToUnlock -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="blue">TapToUnlock</h3>
				<p>Mobile safari optimized iPhone unlocking tool. Customer would fly through IMEI unlocking by installing a secure provisioning certificate. Unfortuantely, I had to discontinue this project due to nature of unlocking industry (legality, shady providers, etc).</p>
				<ul class="blue">
					<li>Mobile Safari Optimized</li>
					<li>Rails/Postgres</li>
				</ul>
			</div>
			<div class="col-md-7">
				<div class="image-mask">
					<a href="http://www.taptounlock.com" target="_blank"><img class="lazy" data-original="/static/images/portfolio/taptounlock.png"></a>
				</div>
			</div>
		</div>

		<!-- Memstash -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="orange">Memstash</h3>
				<p>Memstash is a tool that uses intermittent reptition to allow you memorize anything from the web. Select a piece of text or an image and use the javascript bookmarklet to get scheduled reminders. Two others (<a href="https://twitter.com/bcbroussard">BC</a> & <a href="sina.is">Sina</a>) and I built this at Techcrunch Disrupt.</p>
				<ul class="orange">
					<li>Rails</li>
					<li>Techrunch Evernote Prize Winner</li>
				</ul>
				<p>I'd love to revisit this at some point on iOS + WatchKit.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.memstash.co" target="_blank"><img class="lazy" data-original="/static/images/portfolio/memstashco.png"></a></div>
			</div>
		</div>

		<!-- HookedBy -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="purple">Hooked.By</h3>
				<p>A friend and I developed this social content network over the course of a month or two. Despite getting a decent amount of traffic from Stumbleupon (would highly recommend their <a href="http://ads.stumbleupon.com/">advertising platform</a> for anyone with similiar content), we realized the ad yeild was too low and writing click baity titles all day wasn't our sort of thang.</p>
				<p> While the site does continues to churn, it does so without supervision - heh.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><img class="lazy" data-original="/static/images/portfolio/hy.png" /></div>
			</div>
		</div>
	</section>

	<!-- Open Source -->
	<section id="open">
		<h2>Open Source Contributions</h2>
		<!-- FixTheDMCA -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="blue">FixTheDMCA</h3>
				<p>Our laws regarding the ownership and use of our digital devices are poorly constructed; we need reform. I wrote a large portion of the front-end.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.fixthedmca.com" target="_blank"><img class="lazy" data-original="/static/images/portfolio/fixdmca.png"></a></div>
			</div>
		</div>
		<!-- tdwfb -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="orange">The Day We Fight Back</h3>
				<p>On February 11, 2014 thousands of websites added a banner asked their visitors to call or email their representatives. As part of Taskforce, I helped write the front-end of the thedaywefightback.js banner.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.thedaywefightback.org" target="_blank"><img class="lazy" data-original="/static/images/portfolio/dayfight.png"></a></div>
			</div>
		</div>
		<!-- StopWatchingUs -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="purple">StopWatchingUs</h3>
				<p>Organized by Taskforce.is and Mozilla, StopWatchingUs was a campaign that enabled individuals to reach out to their constiuents and express their thoughts on the unlawful surveillance by the NSA.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.stopwatchingus.com" target="_blank"><img class="lazy" data-original="/static/images/portfolio/stopus.png"></a></div>
			</div>
		</div>
		<!-- Taskforce -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="green">Taskforce.is</h3>
				<p>Taskforce.is a volunteer group of internet activists who create campaigns in response to issues regarding online privacy and technology privacy.</p>
			</div>	
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.taskforce.is" target="_blank"><img class="image-border lazy" data-original="/static/images/portfolio/taskforce.png"></a></div>
			</div>
		</div>
		<!-- Quantified Mind -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="blue">Quantified Mind</h3>
				<p>One of my first open source contributions, I helped Yoni flesh out the frontend of this quantified-self tool. I now just have waay too much data about myself - it'll come in handy one day I keep telling myself.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.quantified-mind.com" target="_blank"><img class="lazy" data-original="/static/images/portfolio/qmind.png"></a></div>
			</div>
		</div>

	</section>
</div>
{% endblock content %}