title: My Recent Work
{% extends "base.html" %}
{% block content %}
<div class="container">

	<h1>Portfolio</h1>
	<p class="title-subtext">I am currently working full-time as an iOS developer at <a href="http://navdy.com">Navdy.com</a></p>
	<hr class="line">
	
	<!-- Client Work -->
	<section id="client">
		<h2>Recent Work</h2>
		
		<!-- Vayable -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="blue">Keycash</h3>
				<p>Keycash is an iOS custom keyboard that allows you to create payment requests almost anywhere you can type.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask">
					<a href="http://key.cash" target="_blank"><img src="/static/images/portfolio/keycash.png"></a></div>
			</div>
		</div>

		<!-- Memstash -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="orange">Memstash</h3>
				<p>Memstash is a tool that uses intermittent reptition to allow you memorize anything from the web. Select a piece of text or an image and use the javascript bookmarklet to get scheduled reminders. Two others (<a href="https://twitter.com/bcbroussard">BC</a> & <a href="sina.is">Sina</a>) and I built this at Techcrunch Disrupt.</p>
				<ul class="orange">
					<li>Techrunch Evernote Prize Winner</li>
				</ul>
				<p><strong>Update (6/6/15):</strong> I have added an iOS/Watch application + Chrome extension.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask"><a href="http://www.memstash.co" target="_blank"><img class="lazy" data-original="/static/images/portfolio/memstashco.png"></a></div>
			</div>
		</div>

		<!-- ShopOrNot -->
		<div class="row project">
			<div class="col-md-5">
				<h3 class="green">Style Hunt (ShopOrNot)</h3>
				<p>My current project and first publicly released iOS app. I spent a while developing this shopping application from the ground up. After continued usage, ShopOrNot develops a style profile for the user and provides them with recommendations.</p>
			</div>
			<div class="col-md-7">
				<div class="image-mask">
					<a href="http://www.shopornot.co" target="_blank"><img class="lazy" data-original="/static/images/portfolio/shopornot.png"></a>
				</div>
			</div>
		</div>
		<p>Please <a href="mailto:sohailkhanifar@gmail.com">get in touch</a>, if you want to discuss anything.</p>
		<hr class="line">
	</section>
</div>
{% endblock content %}